.head{
    background-color: red;
    padding: 10px 20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 70px 0 ;
}
.head ul {
    display: flex;
}
.head ul li{
    list-style-type: none;
}
.head ul li a{
    margin:  0 10px ;
}
.bar{
    font-size: 40px ;
    cursor: pointer;
    display: none;
}
.close{
    font-size: 50px;
    top: 0;
    right: 20px;
    color: red;
    display: none;
}
 
@media screen and (max-width:1080px) {
    .head{
        background-color: blue;
        
    }
    .bar{
        display: block;
    }
    .right{
        display: none;
    }
    .center{
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      height: 400px;
      background-color: blueviolet;
      color: white;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      transform: translate(-200%);
      transition: 2s ease ;
    }
    .close{
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 30px;
        display: block;
        z-index: 323333333;
        cursor: pointer;
    }
    .active {
      transform: translate(0);

    }
    .center ul{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .center ul li a{
        color: white;
        font-size: 30px;
        margin:  10px 0 ;
    }
}